* {
    font-family: 'Courier New', Courier, monospace;
}


/* *************404 PAGE************** */
#container404 {
    padding: 50px;
    width: 600px;
    height: auto;
    background-color: red;
}

#notfound {
    font-size: 50px;
    color: red;
    text-align: center;
}

/* *********************************** */