<!-- *********************************
    Filename: 404.html
    Author: Jonah Greening
    Purpose: 404 page for the website
    Date: 05-28-23
    Date revised:
    **********************************-->

    
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <style>
    #container404 {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: auto;
        padding: 50px;
        width: 600px;
        height: auto;
        border: 5px solid red;
        text-align: center;
    }
    
    #notfound {
        text-align: center;
    }</style>
</head>
<body>
    <div id="container404">
        <h1 id="notfound">404</h1>
        <h2>Page not found</h2>
        <p>Sorry, the page you are looking for could not be found.</p>
        <a href="/">Return to the main page</a>
</body>
</html>